body{
font-family: 'Poppins', sans-serif;
margin:0;
background:#f4f4f4;
color:#333;
}

header{
background:#222;
color:white;
text-align:center;
padding:30px;
}

nav{
display:flex;
justify-content:center;
background:#444;
}

nav a{
color:white;
padding:15px 20px;
text-decoration:none;
}

nav a:hover{
background:#ddd;
color:black;
}

.section{
padding:40px;
max-width:900px;
margin:auto;
}

h2{
text-align:center;
margin-bottom:20px;
}

.card-container{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.card{
background:white;
padding:20px;
border-radius:8px;
box-shadow:0 2px 5px rgba(0,0,0,0.2);
}

.project-card{
background:white;
padding:20px;
border-radius:8px;
width:250px;
box-shadow:0 2px 5px rgba(0,0,0,0.2);
}

footer{
text-align:center;
padding:20px;
background:#222;
color:white;
margin-top:40px;
}
